@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    transition: .5s ease;
}

:root

/* Colors */
    {
    --grey: #17161a;
    --white: rgb(215, 214, 214);
}

:root

/* Units */
    {
    --small-size: 14px;
    --min-font-size: 16px;
    --med-font-size: 18px;
    --max-font-size: 24px;
}

body {
    background-color: var(--grey);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);

}



header span {
    color: var(--white);
    font-size: var(--max-font-size);
    font-weight: 700;
    margin: 0 0.8rem;
}

.logo {
    max-width: 42px;
    margin-left: 1.2em;
}


/* Welcome Page */

.container-welcome {
    background-color: #000;
    background-image: url(img/backG.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 30vw 45vh 122px rgba(0, 0, 0, 0.582);
    min-height: 100vh;
    min-width: 100vw;
    opacity: 1;
    display: block;
}

.welcome-header {
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
    height: 15vh;
    position: fixed;
    top: 0;
}

.welcome-header span {
    color: var(--white);
    font-size: var(--max-font-size);
    font-weight: 700;
    margin: 0 0.8rem;
}

.logo {
    max-width: 42px;
    transform: translateY(-1px);
    margin-left: 4em;
}

.welcome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2em;
    color: white;
    font-size: 32px;
    max-width: 50vw;

}

.welcome h4 {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.912);
    margin-left: .2em;
    margin-top: .5em;
    animation: fade-left 1.6s ease;
}

.welcome h2 {
    animation: fade-left-max 1.6s ease;
}

.btn-start-git {
    padding: 12px 42px;
    border-radius: 8px;
    background-color: #3632ec;
    margin-top: 15px;
    color: white;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    animation: fade-up-min .4s ease;


}

.btn-start-git:hover {
    transform: translateY(-5px);
    cursor: pointer;
}









/* Input screen */


.input-screen {
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: none;
}

.content-screen {
    min-height: inherit;
    min-width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-box {
    width: 300px;
    height: 150px;

    background: #d1d1d1;
    box-shadow: 5px 5px 95px #d1d1d164;
    position: absolute;
    left: -90px;
    top: -40px;
    border-radius: 24px;
    display: flex;
    transition: .3s;
}

.chat-box:after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: rgb(59, 59, 59);
    position: absolute;
    left: -20px;
    top: -20px;
    border-radius: 24px;

    background-image: url(img/Developer_Img.jpg);
    background-size: cover;
    box-shadow: 5px 5px 25px #000;
}

.chat-box span {
    z-index: 999;
    position: inherit;
    margin-left: 25px;
    margin-top: 50px;
    color: black;
    font-size: var(--med-font-size);
}

#close {
    position: absolute;
    color: rgb(49, 100, 252);
    bottom: 20px;
    left: 25px;
    cursor: pointer;
}

.box-input {
    width: 600px;
    height: 450px;
    border-radius: 40px;
    background-color: #2b2a31;
    box-shadow: 24px 12px 12px #060606;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-input-area {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    align-items: center;

}

.logo-input-area img {
    max-width: 96px;
}

.logo-input-area span {
    font-weight: 700;
    color: white;
}

#user {
    outline: none;
    border: none;
    padding: 12px 10px;
    padding-right: 32px;
    border-radius: 12px;
    margin-top: 30px;

}

.btn-start-git-stats {
    padding: 12px 46px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    color: white;
    background-color: #2D52C1;
}

.btn-start-git-stats:hover {
    box-shadow: 0px 0px 12px #193382;
    cursor: pointer;
}

.btn-start-git-stats.void{
    background: none;
    color: #2D52C1;
    border: 1px solid #2D52C1;
}
/* Modal Err Input Screen */
.modalErrServer{
    position: absolute;
    z-index: 99;
    width: 500px;
    height: 250px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    top: -50%;
    opacity: 0;
    display: none;
    transform: translateY(-50%);
    text-align: center;
    line-height: 1.3em;
}
.closeErr{
    padding: 8px 36px;
    background-color: #2551d7;
    color: white;
    border: none;
    border-radius: 32px;
    margin-top: 25px;
}
.closeErr:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px #2551d7;
}

/* Stats Screen */


.container {
    display: flex;
    max-width: 1280px;
    justify-content: center;
    padding: 0 60px;
    margin-top: 30px;
    display: none;
    opacity: 0;
    transition: .6s;
    

}

.left {
    width: 30%;
}

.right {
    width: 70%;
    margin-left: 3em;
}

.item {
    background-color: var(--grey);
}

.profile {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: fade-left 1.2s ease;
}

.stats {

    display: flex;
    justify-content: flex-start;
    animation: fade-up-min 1.5s ease;
}

.ext {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    animation: fade-left 1.7s ease;

}

.content-extra {
    display: flex;
}

#profile_views {
    margin-top: 1em;
}

.profile-pic-area {

    width: 280px;
    height: 260px;
    display: flex;
    align-items: center;
    border-radius: 12px;

}

.profile-pic-area img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.user-area {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

#name-irl {
    font-size: var(--max-font-size);
    font-weight: 500;
    color: white;
}

#user-name {

    font-size: var(--min-font-size);
    font-weight: 300;
    opacity: 0.8;
}

.bio-area {
    color: var(--white);
    font-size: var(--small-size);
    line-height: 1.5em;
    margin-top: 20px;
    max-width: 280px;
}

.info {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.info-localization {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.info-localization img {
    max-width: 20px;

}

.info-localization span {
    color: var(--white);
    margin-left: .3em;

    font-size: 14px;
}

.link {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link img {
    max-width: 20px;
}

.link span a {

    margin-left: .3em;
    text-decoration: none;
    font-size: 14px;
    color: var(--white);
}

.link span a:hover {
    color: #2D52C1;
}

.stats-profile {
    display: flex;
    animation: fade-down 1s ease;
    position: relative;

}

.btn-stats {
    width: 120px;
    height: 40px;
    display: flex;
    margin-right: 30px;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
}

.btn-stats.active {
    background-color: #ffffff35;
}

.btn-stats span {
    margin-left: 10px;
    padding: 2px 6px;
    font-size: 12px;
    background-color: #ffffff35;
    border-radius: 2px;
}

#stats-img-contribuitions {
    max-width: 520px;
}

#stats-img-languages {
    max-width: 320px;
}

.medalhas {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    margin-left: -35px;
}

#stats-img-contribuitions {
    max-width: 420px;
}

#stats-img-languages {
    max-width: 520px;
    margin-left: 1em;

}

.stats img {
    margin-top: 30px;

}

.Readme {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 90px;
    animation: fade-up-min 1.3s ease;
}

.read {
    margin-top: 1em;
}

.btn-follow {
    width: 100%;
    padding: 15px 0;
    margin-top: .9em;
}
.changeUser{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 24px;
    border-radius: 8px;
    
    background-color: #2551d7;
    color: white;
}
.changeUser:hover{
    transform: translateY(-28px);
    cursor: pointer;
}
/*  Keyframes */


@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-left-max {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fade-up-min {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}